.cms{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000 !important;
    background: hsl(0, 0%, 100%);
    position: fixed;
    top: 0;
    left: 0;
}
