@media screen and (max-width: 900px) {
  .ProfilePageImage {
    width: 40rem;
    height: 40rem;
  }
  .profilePage {
    flex-direction: column-reverse;
  }
  .leftProfilePage {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 0;
  }
  .rightProfilePage {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .rightProfilePage {
    margin-top: -5rem;
  }
  .UserInfo{
    margin: 0;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 800px) {
  .them{
    bottom: 11rem;
  }
}
@media screen and (max-width: 450px) {
  .ProfilePageImage {
    width: 30rem;
    height: 30rem;
  }
  .UserInfo {
    width: 92%;
}
}
