.ns{
    width: 100%;
    height: 2rem;
    background: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 3px;
}